alias pod="podman"

alias ls="eza -ol --icons=auto"
alias tree="eza -ol -T --icons=auto"
alias ccd="claude --dangerously-skip-permissions"
alias got="gh pr view --web"
alias als="vi $DOTFILES/zsh/.aliases"
alias dot="cd $DOTFILES"
alias vi="nvim"
alias config="vi $DOTFILES/zsh/.zshrc"
alias config-nvim="vi $DOTFILES/nvim/.config/nvim/init.vim" 
# fzf combo scripts
alias ff="bash $DOTFILES/utils/tmux-sessionizer.sh"
alias to="bash $DOTFILES/utils/fzf-git-checkout.sh"
alias sf="bash $DOTFILES/utils/fzf-vim.sh"
alias sg="bash $DOTFILES/utils/fzf-rg.sh"
alias gpr="bash $DOTFILES/utils/git-pull-request.sh"
alias countdown="bash $DOTFILES/utils/countdown.sh"
alias send-cmd="bash $DOTFILES/utils/tmux-commander.sh"
alias gg="git add . && git commit"
alias gta="git add -A && git commit --amend --no-edit"
alias gtf="gta && git push -f"
alias gwt='$DOTFILES/utils/git-worktree-create.sh'
alias gtp="git push -u origin head"
alias discard="git checkout -- . && git clean -fd"
alias clean="git branch --merged | egrep -v '(^\*|master|main|dev|nonprod)' | xargs git branch -D"
alias tt="tmux -f $HOME/.config/tmux/.tmux.conf"
alias key="ssh-add ~/.ssh/id_rsa"
alias gitd="nvim -c ':tab G'"
alias tags="git show-ref --tags -d | fzf"

# fuzzy search through files in the current directory and cd to the dir of the file selected
cdl(){
  selection=$(fzf --preview 'bat --style=numbers --color=always --line-range :500 {}')
  if [ -z "$selection" ]; then
    exit 0
  fi
  
  sleep 0.3
  local dir
  dir=$(dirname $selection)

  if [ -n "$dir" ]; then
    echo "Changing directory to $dir"
    z "$dir"
  else 
    exit 0
  fi
}

# cd to .git root of the current dir
cd/(){
  cd $(git rev-parse --show-toplevel)
}

get_external_ip(){
  curl ipecho.net/plain ; echo
}

# pipe ripgrep results to a quickfix list in vim
fpq(){
  nvim -q <(rg --column -g '!.git' -g '!node_modules' $@) +cw
}

# fuzzy search my .ssh/config
hh(){
  ssh $(grep -e '^Host \w.*' ~/.ssh/config | sed 's/Host //' | fzf --height 20%)
}

timezsh() {
  shell=${1-$SHELL}
  for i in $(seq 1 10); do /usr/bin/time $shell -i -c exit; done
}
